extends layout

block content
  a(href="/")
    img(src="/images/bennett-garner-prof.png"
      alt="Bennett Garner"
      width="300px"
      class="center")
  h1 About Bennett Garner

  p.
    I've been a <a href="https://en.wikipedia.org/wiki/Vivint">security
    alarm salesman</a>, <a href="https://goo.gl/photos/5n5gzs2UKtsB5K936">
    Eagle Scout</a>, <a href="https://en.wikipedia.org/wiki/Quito">failed
    Mormon missionary</a>, <a href="http://www.breakthroughcollaborative.org/">
    middle school teacher</a>, <a href="https://goo.gl/photos/Q3bFbMcvWhB9XSQR9">
    nanny in France</a>, <a href="https://goo.gl/photos/x4WSLkhcZT3TdNqn6">
    bike builder</a>, <a href="https://www.quora.com/profile/Bennett-Garner">
    Quoran</a>, <a href="http://wdcep.com/the-washington-dc-economic-partnership-announces-key-new-hires/">
    real estate analyst</a> and owner of my own <a
    href="https://muckrack.com/bennett-garner">technical writing</a>
    consultancy.
  p.
    Now, I'm an <a href="#50tweaks">author</a>, <a
    href="#popularposts">blogger</a>, and <a
    href="http://www.bennettgarner.com">web developer</a>.
  p.
    I've been a <a href="https://bennettgarner.com">web developer</a>
    since high school. I love technology and want to help socially
    responsible companies in the financial industry build equitable
    software.
  p.
    I wrote <a href="https://www.amazon.com/50-Tweaks-Change-Your-Life-ebook/dp/B072FVCLZQ/">
    50 Tweaks to Change Your Life</a> to help people make small,
    research-backed changes to improve their lives.
  p.
    I'm interested in technology, engineering, aviation,
    finance/investing, urbanism, and psychology.
  p.
    I love points of view that go against conventional wisdom.</p>
  p.
    French (<a href="https://photos.app.goo.gl/p9kRgVE8pYTowLq59">Marseille,</a>
    <a href="https://photos.app.goo.gl/Q5FeTsZJ2Z6sVajE7">Senegal</a>) &
    Spanish (Ecuador) speaker, minimalist, <a
    href="https://www.16personalities.com/intj-personality">INTJ</a>, and
    a voracious reader.
  p.
    I make music, ride my bike, and play handball for fun.
  p.
    Asheville, North Carolina native. <a
    href="http://www.honorscollege.pitt.edu/node/850">University of
    Pittsburgh grad</a>. Used to live in DC and Uganda. Now, I live in
    Brooklyn, NY.

  h2 What I'm doing now
  p.
    I write software for freelance and open source projects. I'm
    primarily a Python developer and I create web apps with Flask and
    Django.
  p.
    For years, I ran a copywriting agency that specialized in B2B writing and
    consulting for technology companies. I am no longer taking clients.
  p.
    I sing in the <a href="http://brooklyncommunitychorus.org/">Brooklyn
    Community Chorus</a>, judge <a href="https://www.debate.nyc/">middle
    school debate</a> (proud MS 343 supporter!), and help people with
    code problems at <a href="https://www.meetup.com/hackerhours/">
    Hacker Hours</a>

  h2#contact Contact
  div.flex
    div
      a(href="https://github.com/bennett39"
        target="_blank"
        aria-label="Bennett Garner GitHub")
        img(src="images/iconmonstr-github-1-64.png"
          alt="GitHub")
    div
      a(href="https://www.linkedin.com/in/bennettgarner/"
        target="_blank"
        aria-label="Bennett Garner LinkedIn")
        img(src="images/iconmonstr-linkedin-4-64.png"
          alt="LinkedIn")
    div
      a(href="https://medium.com/@BennettGarner"
        target="_blank"
        aria-label="Bennett Garner Medium")
        img(src="images/iconmonstr-medium-4-64.png"
          alt="Medium")
    div
      a(href="https://twitter.com/bennettGarner"
        target="_blank"
        aria-label="Bennett Garner Twitter")
        img(src="images/iconmonstr-twitter-4-64.png"
          alt="Twitter")
    div
      a(href="mailto:hello@bennettgarner.com"
        target="_blank"
        aria-label="Bennett Garner Email")
        img(src="images/iconmonstr-email-10-64.png"
          alt="Email")

  h2 Popular posts
  ul
    li.
      <a href="https://blog.usejournal.com/consider-yourself-a-developer-you-should-solve-the-project-euler-problems-ed8d13397c9c">
      Consider Yourself a Developer? You Should Solve the Project Euler
      Problems</a>
    li.
      <a href="https://blog.usejournal.com/the-pragmatic-programmer-is-essential-reading-for-software-developers-443940b8ef9f">
      “The Pragmatic Programmer” Is Essential Reading for Software
      Developers</a>
    li.
      <a href="https://medium.com/@BennettGarner/deploying-a-django-application-to-google-app-engine-f9c91a30bd35">
      Deploying a Django Application to Google App Engine</a>
    li.
      <a href="https://medium.com/@BennettGarner/youre-commenting-your-code-too-much-and-other-controversial-thoughts-on-documentation-1ee617ed46af">
      You’re commenting your code too much (and other controversial
      thoughts on documentation)</a>
    li.
      <a href="https://medium.com/@BennettGarner/what-the-graph-a-beginners-simple-intro-to-graphs-in-computer-science-3808d542a0e5">
      What the Graph? A Beginner’s Simple Intro to Graphs in Computer
      Science</a>

  h2 I'm on social media
  ul
    li <a href="https://twitter.com/BennettGarner">Twitter (@bennettgarner)</a>
    li <a href="https://www.linkedin.com/in/bennettgarner/">LinkedIn (bennettgarner)</a>
    li <a href="https://www.quora.com/profile/Bennett-Garner">Quora (Bennett-Garner)</a>
    li <a href="https://medium.com/@BennettGarner">Medium (@bennettgarner)</a>
    li <a href="http://amazon.com/author/bennettgarner">Amazon Author Page (bennettgarner)</a>
    li <a href="https://www.goodreads.com/author/show/16939030.Bennett_Garner">Goodreads Author Page</a>
