extends layout

block content
  div.container
    img(src="/images/bennett-garner-prof.png" 
      alt="Bennett Garner"
      width="300px"
      class="center")

    h1 Bennett Garner, Web Developer
    p.
      I'm a full stack web developer with a focus on back-end
      development using Python (Flask, Django) or JavaScript (NodeJS,
      Express). 
    p.
      I've worked extensively with relational databases
      (PostgreSQL and MySQL), and I'm also familiar with non-relational
      databases like MongoDB. 
    p.
      For deployment, I prefer Google Cloud.

    h2 Connect
    div.flex
      div
        a(href="https://github.com/bennett39" 
          aria-label="Bennett Garner GitHub")
          img(src="images/iconmonstr-github-1-64.png"
            alt="GitHub")
      div
        a(href="https://www.linkedin.com/in/bennettgarner/"
          aria-label="Bennett Garner LinkedIn")
          img(src="images/iconmonstr-linkedin-4-64.png"
            alt="LinkedIn")
      div
        a(href="https://medium.com/@BennettGarner"
          aria-label="Bennett Garner Medium")
          img(src="images/iconmonstr-medium-4-64.png"
            alt="Medium")
      div
        a(href="https://twitter.com/bennettGarner"
          aria-label="Bennett Garner Twitter")
          img(src="images/iconmonstr-twitter-4-64.png"
            alt="Twitter")
      div
        a(href="mailto:hello@bennettgarner.com"
          aria-label="Bennett Garner Email")
          img(src="images/iconmonstr-email-10-64.png"
            alt="Email")

    h2 Highlights
    ul
      li Top Writer in Technology & Software on Medium
      li Code Tutor at Hacker Hours in Brooklyn
      li Contributor to SongPro, mss.nyc, Django, freeCodeCamp
      li Creator of Stock Trader

    h2 Projects
    div.flex
      div.card
      div.card
    div.flex
      div.card
      div.card

