extends layout

block content
  div.container
    img(src="/images/bennett-garner-prof.png" 
      alt="Bennett Garner"
      width="300px"
      class="center")
    h1.display.
      Bennett Garner, Web Developer
    p.
      I'm a full stack web developer with a focus on back-end
      development using Python (Flask, Django) or JavaScript (NodeJS,
      Express). 
    p.
      I've worked extensively with relational databases
      (PostgreSQL and MySQL), and I'm also familiar with non-relational
      databases like MongoDB. 
    p.
      For deployment, I prefer Google Cloud.
    h2.display.
      Connect
    div.flex
      div
        a(href="link")
          img(src="images/iconmonstr-github-1-64.png"
            alt="GitHub")
      div
        a(href="link")
          img(src="images/iconmonstr-github-1-64.png"
            alt="GitHub")
      div
        a(href="link")
          img(src="images/iconmonstr-github-1-64.png"
            alt="GitHub")
      div
        a(href="link")
          img(src="images/iconmonstr-github-1-64.png"
            alt="GitHub")
      div
        a(href="link")
          img(src="images/iconmonstr-github-1-64.png"
            alt="GitHub")

